<div id="radio-buttons">
    <div id="radio-div-select">
        <input type="radio" name="select" id="select-color" value="color" checked> </button>
        <label class="radio-label" for="select-color">Select</label>
    </div>

    <div id="radio-div-cross">
        <input type="radio" name="select" id="select-cross-out" value="cross"> </button>
        <label class="radio-label" for="select-cross-out">Cross Out</label>
    </div>
</div>