<div class="hidden" id="gray-backdrop">
    <div id="win-message">Congratulations! <br> You solved the puzzle! </div>
    <div id="help-message"> click the "back" button in the top left <br> (you may need to scroll up) </div>
</div>