
html {
    background-image: linear-gradient(lightblue, darkblue);
    height: 100vh;
}

.puzzle-title {
    color: coral;
    text-align: center;
}

.cell{
    border: 1px solid black;
    min-width: 60px;
    min-height: 60px;
    display: inline-block;
    background-color: white;
}

#container{
    text-align: center;
}

.box-clicked {
    background-color: coral;
}