<!DOCTYPE html>
<html>
    <head>
        <title>Picross!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="\style.css">
        {{!-- \ in front of these so it serves correctly --}}
        <script src="\picross.js" charset="utf-8" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500;800&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="/numbers.js" charset="utf-8" defer></script>
        
    </head>

    <body>
        {{{body}}}
        {{!-- whatever you render is plugged into here --}}
    </body>

</html>
