<nav class="aboutMenu">
    <ol class="aboutList">
        <li class="puzzleitem menulink"><button type="button" id="return-main-button" onclick="window.location.href='../';">Back</button></li>

        <li class="aboutitem abouttitle">About the Project</li>

        <li class="aboutitem abouttext"><p id="about-subtitle">Picross!</p></li>
        <li class="aboutitem abouttext">created by Connor Arel, Matthew Beitler, Alden Roy, and Andrew Vester</li>
        <li class="aboutitem abouttext">Final Project for CS290 [Spring 2022] @ OSU</li>
        
    </ol>
</nav>