<nav class="navMenu">
    <ol class="navList">
        <li class="navitem navTitle">Picross!</li>
        <!-- Depcreciated "buttons"
        <li class="navitem navLink"><a href="#">Play</a></li>
        <li class="navitem navLink"><a href="#">How to Play</a></li>
        <li class="navitem navLink"><a href="#">About</a></li> -->
        
        <li class="navitem navlink"><button type="button" id="menu-button" onclick="window.location.href='../puzzleSelect';">Play</button></li>
        <li class="navitem navlink"><button type="button" id="menu-button" onclick="window.location.href='https://delightfulpaths.com/how-to-solve-nonogram-puzzles';">How to Play</button></li>
        <li class="navitem navlink"><button type="button" id="menu-button" onclick="window.location.href='../about';">About</button></li>
    </ol>
</nav>