<nav class="puzzleMenu">
    <ol class="puzzleList">
        <li class="puzzleitem menulink"><button type="button" id="return-main-button" onclick="window.location.href='../';">Back</button></li>

        <li class="puzzleitem puzzletitle">Puzzle Select</li>
        <h2 class="puzzle-description">Puzzles 1-10 are 5x5, 11-25 are 10x10 and more difficult.</h3>

        {{#each puzzleNumbers}}
            {{> puzzleSelectButton name=this linkNum=@index}}
        {{/each}}        
        {{!-- dynamically generating the puzzle buttons --}}

    </ol>
</nav>
