<ol class="puzzleList">
    <li class="puzzleitem menulink"><button type="button" id="return-main-button" onclick="window.location.href='../puzzleSelect';">Back</button></li>
</ol>
<h1 class = "puzzle-title"> {{name}} </h1>


{{> choiceSelectButton}}

{{> winPopup}}