
html {
    background-image: linear-gradient(blue, darkblue);
    height: 110vh;
}

.puzzle-title {
    color: coral;
    text-align: center;
}

/* Grid CSS */
.cell{
    border: 1px solid black;
    min-width: 60px;
    min-height: 60px;
    display: inline-block;
    background-color: white;
    
}

#container{
    text-align: center;
    
}

.box-clicked {
    background-color: coral;
}

.box-crossed {
    background-image: url("https://web.engr.oregonstate.edu/~beitlerm/images/red_cross.png");
}


.row{
    line-height: 0;
}

/* Top number CSS */
table{
    padding-left: 26.5%;
    
}

td{
    padding-left: 51px;
    color: white;
}

/* CSS for the side numbers */
.side-numbers{
    position: absolute;
    top: 175px;
    padding-left: 23%;
}

h4{
    color: white;
    padding-bottom: 22px;
}

/* CSS for radio buttons */
#radio-buttons {
    position: fixed;
    right: 10px;
    bottom: 10px;
}